{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": ["@babel/preset-flow", "@babel/preset-react"],

  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "browsers": ["last 2 versions", "IE 10"] }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
